* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

html {
	margin: 0;
	padding: 0;
}

@import './fonts';

// Components
@import './components/navbar/navbar';
@import './components/navbar/footer';
@import './components/grid/grid';

// Views
@import './views/homepage/homepage';