.footer-container {
	background-color: rgb(28, 28, 28);
}

.footer {
}

.footer-row {

}

.footer-left {

}

.footer-right {

}

.footer-subtitle {
	color: white;
	font-family: "Whitney SSm A","Whitney SSm B",Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	font-size: 32px;
}

.footer-text {
	color: white;
	font-family: "Whitney SSm A","Whitney SSm B",Arial,sans-serif;
	font-weight: 300;
	text-align: left;
	font-size: 13px;
	line-height: 25px;
}

.footer-unit-logo {
	height: 200px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}